.appliances {
  &__show-more {
    display: none;
  }
}
@media (min-width: 768px) {
  .appliances {
    padding: 0;
    margin-top: 24px;
    height: 160px;
    overflow: hidden;

    &--state--opened {
      overflow: visible;
      height: auto;
    }
    & .swiper-wrapper {
      width: auto;
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, 224px);
      gap: 16px 24px;

      padding-left: 24px;
      padding-right: 24px;
    }

    &__show-more {
      display: inline-block;
      margin-left: 24px;
      margin-top: 24px;
    }
  }
}

@media (min-width: 1440px) {
  .appliances {
    & .swiper-wrapper {
      grid-template-columns: repeat(auto-fit, 240px);
      gap: 16px 32px;
      padding-left: 32px;
      padding-right: 0;
    }
    &__show-more {
      margin-left: 30px;
    }
  }
}
