.brand-card {
  height: 72px;
  padding: 0 16px;
  background-color: $color-light;
  border: 1px solid $color-card-border;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .brand-card {
    width: 224px;
  }
}

@media (min-width: 1440px) {
  .brand-card {
    width: 240px;
  }
}
