.hero {
  padding-top: 24px;

  &__header {
    position: relative;
    padding-left: 16px;
    line-height: 40px;
    font-size: 28px;
    letter-spacing: -0.6px;
    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 4px;
      background-color: $color-nav-item-active;
      top: 0;
      left: 0;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  &__services {
    margin-top: 24px;
    padding-left: 16px;
  }

  &__inner {
    padding-top: 24px;
  }

  &__text-block {
    padding: 0 16px;
  }

  &__overflow {
    height: 90px;
    overflow: hidden;

    &--state--opened {
      height: auto;
      overflow: visible;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $color-nav-link;
    padding-bottom: 30px;
    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &__img {
    display: block;
    font-size: 0;
    margin-top: 16px;
    height: 176px;
    width: 100%;
  }
  &__show-more {
    margin-top: 16px;
  }
}

@media (min-width: 321px) {
  .hero {
    &__img {
      height: auto;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    &__img {
      height: auto;
      width: 360px;
      margin-top: 0;
    }
    &__header {
      padding-left: 24px;
    }
    &__inner {
      padding: 32px 24px 0;
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
    &__services {
      margin-top: 32px;
      padding-left: 24px;
    }
    &__text-block {
      padding-left: 0;
      padding-right: 48px;
    }
    &__overflow {
      height: 160px;
      &--state--opened {
        height: auto;
        overflow: visible;
      }
    }

    &__text {
      line-height: 20px;
      padding-bottom: 20px;
    }
    &__show-more {
      margin-top: 10px;
    }
  }
}

@media (min-width: 1440px) {
  .hero {
    padding-top: 43px;
    &__header {
      padding-left: 33px;
    }
    &__services {
      margin-top: 8px;
      padding-left: 33px;
    }
    &__inner {
      padding: 0 28px 0 33px;
    }
    &__img {
      height: 307px;
      width: auto;
      margin-top: 0;
    }
    &__text-block {
      padding-top: 13px;
      padding-right: 0;
      width: 490px;
    }
  }
}
