.main {
  background-color: $color-main-bg;
  &__swiper {
    position: relative;
    padding-top: 16px;
    padding-bottom: 33px;
    padding-left: 16px;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .main {
    &__swiper {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
