.main {
  background-color: $color-main-bg;
  &__swiper {
    position: relative;
    padding-top: 16px;
    padding-bottom: 33px;
    padding-left: 16px;
  }
}

@media (min-width: 1440px) {
  .main {
    &__swiper {
      box-sizing: border-box;
      max-width: 100%;
    }
  }
}
