.repair-appliances {
  padding-bottom: 18px;
}

@media (min-width: 768px) {
  .repair-appliances {
    padding-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .repair-appliances {
    padding-bottom: 50px;
  }
}
