img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  background-color: #333333;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'TT Lakes', sans-serif;
  font-weight: normal;
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
}

.swiper-wrapper {
}

.swiper-slide {
  width: auto;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: $color-slider-button;
  width: 12px;
  height: 12px;
  margin: 0 6px !important;
}
