img {
  max-width: 100%;
}

a {
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease;
}

html {
  background-color: $color-main-bg;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'TT Lakes', sans-serif;
  font-weight: normal;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
  overflow-x: hidden;
}

button {
  font-family: inherit;
  transition: all 0.2s ease;
  opacity: 1;
}

.swiper-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}

.swiper-slide {
  width: auto;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: $color-slider-button;
  width: 12px;
  height: 12px;
  margin: 0 6px !important;
}

@media (min-width: 1366px) {
  body {
    display: grid;
    grid-template-columns: 320px 1fr;
  }
}

@media (min-width: 1440px) {
  body {
    position: relative;
    width: 1440px;
    grid-template-columns: 308px 1fr;

    margin: 0 auto;
  }
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  label {
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s ease;
    &:hover {
      opacity: 0.5;
    }
  }
  a:hover {
    opacity: 0.5;
  }
}
