img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  background-color: $color-main-bg;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'TT Lakes', sans-serif;
  font-weight: normal;
  min-width: 320px;
  max-width: none;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
}

button {
  font-family: inherit;
}

.swiper-wrapper {
  max-width: 100%;
}

.swiper-slide {
  width: auto;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: $color-slider-button;
  width: 12px;
  height: 12px;
  margin: 0 6px !important;
}

@media (min-width: 1366px) {
  body {
    display: grid;
    grid-template-columns: 320px 1fr;
  }
}

@media (min-width: 1440px) {
  body {
    position: relative;
    grid-template-columns: 308px 1134px;

    margin: 0 auto;
  }
}
