$color-light: #ffffff;
$color-primary: #ff3e79;
$color-nav-link: #1b1c21;
$color-nav-link-active: #7e7e82;
$color-nav-item-active: #41f6d7;
$color-main-bg: #f8f8f8;
$color-active-service: #b8ffec;
$color-header-border: #d9fff5;
